body {
    font-family: sans-serif;
}
.logo{
height: 40px;
}
h1{
   color: greenyellow; 
}
p{
    font-size: 20px;
    color: chartreuse;
}
h2{
    color: blueviolet;
}
ol{
    color:blueviolet ;

}
h3{
    color:greenyellow ;
}
h4{
    color: blueviolet;
  font-family: italics  
}
footer{
    background-color: SpringGreen;
    color: white;
}
